
.product{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.productLeft{
    flex: 1;
    background-color: gray;

}
.productLeft>img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.productright{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 20px;

}
.productItem{
    font-size: 18px;
    text-align: justify;

}
.productItem>span{
    color: crimson;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

.productbtn{
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 5px 10px ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 1s ease;
    background-color: transparent;
    box-shadow:1px 1px 5px black;   
    
}

hr{
  width: 100%;
  
}
.productbtn:hover{
    background-color: teal;

}



@media screen and (max-width:778px) {
       .product{
        flex-direction: column;
       }
.productLeft {
    width: 100%; 
}
.productLeft>img{
    height: 300px;
}
.productright{
    padding: 10px 20px;
}

.productItem{
    font-size: 14px;
}
.productbtn {
    right: 50px;

}

}