.user {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.userwrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.userleft {
    width: 45%;
}

.userimg {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.userright {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.username {
    font-size: 25px;
    text-transform: capitalize;

}

.usernamespan {
    color: crimson;
    font-size: 25px;
}

.userright>.userItem {
    font-size: 14px;
}

.bold {
    font-weight: 600;
    color: teal;
    font-size: 18px;
}

.edit {
    background-color: teal;
    width: max-content;
    align-self: center;
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s ease all;
}

.edit:hover {
    background-color: transparent;
    border: 1px solid teal;
    color: teal;
}


@media only screen and (max-width:778px) {
    .userwrapper {
        flex-direction: column;
    }
    .userleft {
        width: 100%;
    }
    .userright {
        width: 100%;
    }
}